/*app.css is Hailun Li's COMP1072 final exam about a dice rolling 
web application. The file is created on April 21, 2016.*/
#d1image {
  height: 100px;
  width: 100px;
  border: 1px solid black;
  border-radius: 5px;
}
#d2image {
  height: 100px;
  width: 100px;
  border: 1px solid black;
  border-radius: 5px;
}
